.s-logo {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    padding-bottom: 10px;
}
.cdh{
    max-width: 200px;
    display: block;
    object-fit: contain;
}
.card-s {
    box-shadow: 0 0 3px rgb(93 103 175 / 73%);
    padding: 10px;
    width: 370px;
    border: transparent;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-s .text-s {
    border-top: 1px solid rgb(179, 177, 177);
    padding-top: 3px;
}
.hed{
    font-weight: 600;
    font-size: 24px;
    color: rgb(70, 70, 121);
}
.spon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.acs{
    width: 250px;
}